.banner {
    background: url('../uploads/products/banner3.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

nav a.nav-link {
    font-weight: 500;
    margin: 0 12px;
    font-size: 15px;
    text-transform: uppercase;
}

nav .fa {
    font-size: 20px;
    cursor: pointer;
}
